@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
:root{
    --primaryColor:#0D263B;
    --secondaryColor:#696969;
    --activeColor:#0061DF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}	
body{
    background-color: #ffffff;
}
.margin-top{
    margin-top: 48px;
}
.title{
    height: 36px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
.sub-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;  
    color: #0D263B;
}
.small-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #696969;

}
.text-center{
    text-align: center;
}
.description{
    text-align: center;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}
